## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as py

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Joao Da Barra,BR,-21.6403,-41.0511,69.06,82,0,10.04,clear sky
1,1,Port Elizabeth,ZA,-33.9180,25.5701,60.10,93,75,1.14,broken clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,39.31,75,20,34.52,few clouds
3,3,Kulhudhuffushi,MV,6.6221,73.0700,81.72,75,57,15.82,broken clouds
4,4,East Stroudsburg,US,40.9995,-75.1813,77.88,83,100,3.42,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 65
What is your desired maximum temperature for your trip? 95

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                    (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Joao Da Barra,BR,-21.6403,-41.0511,69.06,82,0,10.04,clear sky
3,3,Kulhudhuffushi,MV,6.6221,73.0700,81.72,75,57,15.82,broken clouds
4,4,East Stroudsburg,US,40.9995,-75.1813,77.88,83,100,3.42,overcast clouds
5,5,Natal,BR,-5.7950,-35.2094,75.42,88,0,4.61,clear sky
10,10,Georgetown,MY,5.4112,100.3354,85.93,79,20,4.61,few clouds
11,11,Normandin,CA,48.8333,-72.5321,66.51,82,100,2.30,overcast clouds
12,12,Stillwater,US,36.1156,-97.0584,91.67,51,0,12.66,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,74.03,68,100,15.84,overcast clouds
17,17,Atuona,PF,-9.8000,-139.0333,76.87,75,31,22.86,light rain
18,18,Bengkulu,ID,-3.8004,102.2655,81.18,72,47,1.70,scattered clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Joao Da Barra,BR,-21.6403,-41.0511,69.06,82,0,10.04,clear sky
3,3,Kulhudhuffushi,MV,6.6221,73.0700,81.72,75,57,15.82,broken clouds
4,4,East Stroudsburg,US,40.9995,-75.1813,77.88,83,100,3.42,overcast clouds
5,5,Natal,BR,-5.7950,-35.2094,75.42,88,0,4.61,clear sky
10,10,Georgetown,MY,5.4112,100.3354,85.93,79,20,4.61,few clouds
11,11,Normandin,CA,48.8333,-72.5321,66.51,82,100,2.30,overcast clouds
12,12,Stillwater,US,36.1156,-97.0584,91.67,51,0,12.66,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,74.03,68,100,15.84,overcast clouds
17,17,Atuona,PF,-9.8000,-139.0333,76.87,75,31,22.86,light rain
18,18,Bengkulu,ID,-3.8004,102.2655,81.18,72,47,1.70,scattered clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Joao Da Barra,BR,69.06,clear sky,-21.6403,-41.0511,
3,Kulhudhuffushi,MV,81.72,broken clouds,6.6221,73.0700,
4,East Stroudsburg,US,77.88,overcast clouds,40.9995,-75.1813,
5,Natal,BR,75.42,clear sky,-5.7950,-35.2094,
10,Georgetown,MY,85.93,few clouds,5.4112,100.3354,
11,Normandin,CA,66.51,overcast clouds,48.8333,-72.5321,
12,Stillwater,US,91.67,clear sky,36.1156,-97.0584,
15,Rikitea,PF,74.03,overcast clouds,-23.1203,-134.9692,
17,Atuona,PF,76.87,light rain,-9.8000,-139.0333,
18,Bengkulu,ID,81.18,scattered clouds,-3.8004,102.2655,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Joao Da Barra,BR,69.06,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
3,Kulhudhuffushi,MV,81.72,broken clouds,6.6221,73.0700,Haajy Guest House 1
4,East Stroudsburg,US,77.88,overcast clouds,40.9995,-75.1813,Hampton Inn Stroudsburg/Poconos
5,Natal,BR,75.42,clear sky,-5.7950,-35.2094,Villa Park Hotel | Natal
10,Georgetown,MY,85.93,few clouds,5.4112,100.3354,Cititel Penang
11,Normandin,CA,66.51,overcast clouds,48.8333,-72.5321,Chambres MB Normandin (Lac St -Jean)
12,Stillwater,US,91.67,clear sky,36.1156,-97.0584,Hampton Inn & Suites Stillwater
15,Rikitea,PF,74.03,overcast clouds,-23.1203,-134.9692,People ThankYou
17,Atuona,PF,76.87,light rain,-9.8000,-139.0333,Villa Enata
18,Bengkulu,ID,81.18,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))